extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br

  h1 Nueva Bicicleta

  br
  br

  form(action='/bicicletas/create' method='post')
    label(for='id') ID: 
    input#id(type='text' name='id' size='40')
    br
    label(for='color') Color: 
    input#color(type='text' name='color' size='40')
    br
    label(for='modelo') Modelo: 
    input#modelo(type='text' name='modelo' size='40')
    br
    label(for='lat') Latitud: 
    input#lat(type='text' name='lat' size='20')
    br
    label(for='lng') Longitud: 
    input#lng(type='text' name='lng' size='20')
    br    
    br
    input.btn(type='submit' value='OK')
